

body {
	background: #ffffff;
    font-family: sans-serif;
    font-style: normal;
	font-weight: 300;
    overflow-x: hidden;
    background-color: #F5F4F4 ;
}



ul {
  display:flex;  
  list-style:none;
  text-decoration: none;
  margin:0px ;
}

li {
   padding-left: 30px;
   text-decoration: none;
   font-family: 'Trebuchet MS', sans-serif;
   
 }

a {text-decoration: none;}
a:visited { text-decoration: none; }



.section1 {
	height: 10px;
	padding: 20px;
	
}


#left-nav {
	padding-left: 30px;
	float:left; 
	font-family: copperplate, sans-serif;
	width: 300px;
	font-size: 20px;
}

#right-nav {
	float:right; 
	padding-right: 30px;
	font-size: 20px;
	
}

.section2 {
	/*background-color: #D3E0EA; */
	height: 400px;
	padding: 20px;
	margin-right: 40px;
    margin-left: 40px;
    align-items: center;
	text-align: center;
	background-image: url('../images/bg.jpg');
	opacity: 0.7;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */	
	color: white;
	font-family: Optima, sans-serif;
}

.intro {
	padding-top: 200px;	
}


.section3 {
	background-color: #FECD1A;
	/*height: 400px;*/
	padding: 10px;
	margin-right: 40px;
    margin-left: 40px;
	margin-top: 40px;
    align-items: center;
	text-align: center;
}

.content {
	padding-left: 25%;
	padding-right: 25%;
	display: grid;
	grid-template: 200px / auto auto auto;
	/*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
	grid-gap: 20px;

	}

.media {
	width:200px; 
	height: 200px;
	margin: 0px;
	/*overflow: hidden;*/
	
}

.media img{
	max-width: 100%;
    max-height: 100%;
    display: block; 
	
}

.section4 {
	background-color: #FD3A69;
	height: 200px;
	padding: 10px;
	margin-right: 40px;
    margin-left: 40px;
	margin-top: 40px;
	align-items: center;
	text-align: center;
	font-family: monospace, sans-serif;
	font-size: 50px;
}



#footer .copyright {
	color: #bfbfbf;
	padding-top: 22px;
	text-align: center;
		}













